{% extends "base.html" %}
{% block titulo %}
Negocios
{% endblock titulo %}

{% block contenido %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a href="{% url 'negocio_crear' %}" class="btn btn-primary">
          <i class="fa fa-plus"></i>
          Agregar negocio
        </a>
      </div>
      <div class="card-body">
        <table id="lista" class="table table-bordered table-hover table-dark">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>RFC</th>
              <th>Domicilio</th>
              <th>Celular</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for n in negocios %}
            <tr>
              <td>{{n.id}}</td>
              <td>{{n.nombre}}</td>
              <td>{{n.fiscal.rfc}}</td>
              <td>{{n.domicilio}}</td>
              <td>{{n.contacto.celular}}</td>
              <td>{{n.contacto.correo}}</td>
              <td>
                <div class="btn-group">
                  <a href="{% url 'negocio_editar' n.id %}" class="btn btn-warning">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </div>
              </td>
            </tr> 
            <!--modal-->
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="model-title">Eliminar registro</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <p>Una vez eliminado el registro no se podra recuperar</p>
                  </div>
                  <div class="modal-footer">
                    <form action="{% url 'negocio_eliminar' n.id %}" method="post">
                      {% csrf_token %}
                      <button type="submit" class='btn btn-success'>Enviar</button>
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <!--end modal-->
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
  $(function (){
    $("#lista").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      language: {
            url: "//cdn.datatables.net/plug-ins/2.2.0/i18n/es-MX.json"
      },
    })
  })
</script>
{% endblock js %}
