{% extends "base.html" %}
{% block titulo %}
Ventas
{% endblock titulo %}

{% block contenido %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        {% with usuario=user.usuario_set.first %}
          {% if usuario.rol == 2 %}
            <a href="{% url 'venta_crear' %}" class="btn btn-primary">
              <i class="fas fa-plus"></i>
              Crear venta
            </a> 
          {% else %}
            <a href="{% url 'excel' %}" class="btn btn-success">
              <i class="fas fa-file-excel"></i>
              Exportar ventas
            </a>
          {% endif %}
        {% endwith %}
      </div>
      <div class="card-body">
        <table id="lista" class="table table-bordered table-hover table-dark">
          <thead>
            <tr>
              <th>#</th>
              <th>Caja</th>
              <th>Empleado</th>
              <th>Cliente</th>
              <th>SubTotal</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for v in ventas %}
            <tr>
              <td>{{v.id}}</td>
              <td>{{v.caja.nombre}}</td>
              <td>{{v.empleado.nombres}}</td>
              <td>{{v.cliente.nombres}}</td>
              <td>${{v.total}}</td>
              <td>${{v.total_descuento}}</td>
              <td>
                <div class="btn-group">
                  <a href="{% url 'ticket' v.id %}" class="btn btn-secondary" target="_blank">
                    <i class="fas fa-ticket-alt"></i>
                  </a>
                  <a href="{% url 'factura' v.id %}" class="btn btn-danger" target="_blank">
                    <i class="fas fa-file-pdf"></i>
                  </a>
                </div>
              </td>
            </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
  $(document).ready(function (){
    $("#lista").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      language: {
            url: "https://cdn.datatables.net/plug-ins/2.2.0/i18n/es-MX.json"
      },
    })
  })
</script>
{% endblock js %}
