{% extends "base.html" %}
{% block titulo %}
Ventas
{% endblock titulo %}

{% block contenido %}
<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <a href="{% url 'venta_crear' %}" class="btn btn-primary">
          <i class="fas fa-plus"></i>
          Crear venta
        </a> 
      </div>
      <div class="card-body">
        <table id="lista" class="table table-bordered table-hover table-dark">
          <thead>
            <tr>
              <th>#</th>
              <th>Caja</th>
              <th>Empleado</th>
              <th>Cliente</th>
              <th>Total</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {% for v in ventas %}
            <tr>
              <td>{{v.id}}</td>
              <td>{{v.caja.nombre}}</td>
              <td>{{v.empleado.nombres}}</td>
              <td>{{v.cliente.nombres}}</td>
              <td>{{v.total_descuento}}</td>
              <td>
                <div class="btn-group">
                </div>
              </td>
            </tr> 
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
  $(document).ready(function (){
    $("#lista").DataTable({
      "responsive": true, "lengthChange": false, "autoWidth": false,
      language: {
            url: "//cdn.datatables.net/plug-ins/2.2.0/i18n/es-MX.json"
      },
    })
  })
</script>
{% endblock js %}
