{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block titulo %}
Crear cliente
{% endblock titulo %}

{% block contenido %}
<form method="post">
  {% csrf_token %}
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Información personal</h3>
        </div>
        <div class="card-body">
          {{clif|crispy}}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Información de contacto</h3>
        </div>
        <div class="card-body">
          {{cf|crispy}}
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Información fiscal</h3>
        </div>
        <div class="card-body">
          {{ff|crispy}}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Domicilio</h3>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              {{df.pais|as_crispy_field}}
            </div>
            <div class="col-6">
              {{df.estado|as_crispy_field}}
            </div>
            <div class="col-12">
              {{df.municipio|as_crispy_field}}
              {{df.colonia|as_crispy_field}}
              {{df.calle|as_crispy_field}}
            </div>
            <div class="col-4">
              {{df.cp|as_crispy_field}}
            </div>
            <div class="col-4">
              {{df.ne|as_crispy_field}}
            </div>
            <div class="col-4">
              {{df.ni|as_crispy_field}}
            </div>
            <div class="col-12">
              {{df.referencia|as_crispy_field}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button type="submit" class="btn btn-success">
    <i class="fas fa-check"></i>
    Enviar
  </button>
  <a href="{% url 'clientes' %}" class="btn btn-danger">
    <i class="fas fa-times"></i>
    Cancelar
  </a>
</form>
{% endblock contenido %}
